body { 
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699920000&semt=sph"); 
    background-size: cover;
}



@keyframes drawing {
    from{color: red;}
    to{color: orange;}
}

h1{
    background-color: rgb(195, 230, 237);
    font-family: 'Special Elite', fantasy;
    color:rgb(38, 0, 255);
}

#show_sketch{
    float: right;
    margin-right: 20px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}

#score{
    margin-left: 20px; 
    float: left;
    font-size: 30px;
}

#sketch{
    font-weight: bold;
}

#confidence{
    font-weight: bold;   
}

#drawing{
    font-weight: bold;
    animation-name: drawing;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    font-size: 20px;
}

#timer{
    margin-right: 120px; 
    float: right;
    font-size: 30px;   
}

p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
